/* set up the box for the header */
*,
::before,
::after {
  box-sizing: inherit; 
}

/* set up the box for the header */
html {
    box-sizing: border-box;
}

/* set the background color for the header */
header {
    background-color: #e60012;
}

/* to center the container horizontally */
header div {
    margin: 0 auto; 
}

/* Add detail to the nav bar and make the bar look natural and sets the elements to the right*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0;
    font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgb(65, 65, 65), 0 0 25px rgb(49, 49, 49), 0 0 5px rgb(0, 0, 0);
}

/* helps center the bar */
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* helps center the bar */
nav ul li {
    margin-left: 10px;
}

/* helps center the bar */
nav ul li:first-child {
    margin-left: 0;
}

/* Adds detail to the links */
nav ul li a {
    color: rgb(238, 236, 236);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 10px 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-block;
    top: 0;
}

/* When you hover over it */
nav a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(81, 12, 12, 0.8);
}

/* If the screen shrinks, make the nav bar vertical */
 @media screen and (max-width: 750px) {
    nav {
       flex-direction: column;
    }
    ul {
        flex-direction: column;
    }
 }


/* Footer Section - adds detail to it*/
footer {
    background: #222;
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
  }

/* adds detail to the link */
footer a {
    color: #e67e22;
    text-decoration: none;
    font-weight: bold;
}

/* adds an underline when you hover over it */
footer a:hover {
    text-decoration: underline;
}